# General
.sass-cache/

# Mac stuff
.DS_Store

# Docs
js_doc/
doc/

# Clojures
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.class
/.lein-*
/.nrepl-port

# JavaScripts
node_modules/

# Logs
newrelic/logs

# IntelliJ/Cursive
.idea/
quixote.iml
