<ion-header-bar>
  <div class='cs-logo'>
    <img src='/img/cs_logo.svg' />
  </div>
</ion-header-bar>

<ion-content>
  <div class='cs-main-container small-vertical-space logo-clear'>
    <p class='wf-standard type-larger cs-left-margin cs-right-margin'>
      Knowing your location helps us find the best bookstores around you. Please allow us to use your current location, or enter a location below.
    </p>
    <form name='geolocationForm' id='geolocation'>
      <input type='text' class='form-field' placeholder='Enter an address or zipcode' data-ng-model='form.location' />
      <button class='cs-search-btn' data-ng-click='geolocate()'>
        <i class='icon ion-location i cs-icon'></i>
      </button>
    </form>
    <div class='cs-social-media one-vertical-space bottom-clear' id='media-btns'>
      <a class='button social-btn' id='facebook' href='https://www.facebook.com/CityShelf' target='_blank'></a>
      <a class='button social-btn' id='twitter' href='https://twitter.com/CityShelf' target='_blank'></a>
      <a class='button social-btn' id='instagram' href='https://instagram.com/CityShelf' target='_blank'></a>
      <a class='button social-btn' id='email' href='mailto:beta@cityshelf.com'></a>
    </div>
  </div>
</ion-content>
