<ion-header-bar>
  <div class='cs-logo' id='logo-geo'>
    <img src='/img/cs_logo.svg' />
  </div>
</ion-header-bar>

<ion-content id='geolocation-outer'>
  <div class='cs-main-container small-vertical-space logo-clear' id='geolocation-inner'>
    <p class='wf-standard type-larger cs-left-margin cs-right-margin'>
      What's your current location? It helps us know which bookstores to search.
    </p>
    <form name='geolocationForm' id='geolocation-form'>
      <input type='text' class='form-field' placeholder='Enter an address or zipcode' data-ng-model='form.location' />
      <button class='cs-search-btn' data-ng-click='geolocate()'>
        <i class='icon ion-location i cs-icon'></i>
      </button>
    </form>
  </div>
</ion-content>
