<ion-content>
  <div class='cs-logo'>
    <a href='#!'><img src='/img/cs_logo.svg' /></a>
  </div>

  <div class='cs-main-container logo-clear'>
    <h1 class='wf-bold type-larger cs-left-margin' id='tagline'>Go local for books!</h1>
    <div class='cs-search-container one-vertical-space'>
      <form name='searchForm' id='search' class='validate' style='opacity: 1; transform: translate(0px, 0px);'>
        <input type='text' class='form-field' placeholder='Title, author or ISBN' data-ng-model='form.book' size='16' />
        <button class='cs-search-btn' data-ng-click='search()'>
          <i class='icon ion-search i cs-icon'></i>
        </button>
      </form>
      <p class='wf-standard type-larger cs-left-margin cs-right-margin one-vertical-space' id='about-us'>
        Type in the book you want. We'll show you which bookstore near you has it in stock.
      </p>
      <i class='icon ion-loading-c large-spinner align-center' data-ng-show='loading'></i>
    </div>
    <div class='cs-social-media one-vertical-space bottom-clear' id='media-btns'>
      <a class='button social-btn' id='facebook' href='https://www.facebook.com/CityShelf' target='_blank'></a>
      <a class='button social-btn' id='twitter' href='https://twitter.com/CityShelf' target='_blank'></a>
      <a class='button social-btn' id='instagram' href='https://instagram.com/CityShelf' target='_blank'></a>
      <a class='button social-btn' id='email' href='mailto:beta@cityshelf.com'></a>
    </div>
  </div>
</ion-content>
<ion-footer-bar class='cs-footer'>
  <p class='wf-standard-heavy type-small align-center'>2014 CityShelf. All rights reserved.</p>
</ion-footer-bar>
