<ion-header-bar>
  <div class='cs-logo' id='search-logo'>
    <a href='#!'><img src='/img/cs_logo.svg' /></a>
  </div>
</ion-header-bar>

<div class='cs-social-media one-vertical-space bottom-clear social-btns-search' id='media-btns'>
  <a class='button social-btn' id='facebook' href='https://www.facebook.com/CityShelf' target='_blank'></a>
  <a class='button social-btn' id='twitter' href='https://twitter.com/CityShelf' target='_blank'></a>
  <a class='button social-btn' id='instagram' href='https://instagram.com/CityShelf' target='_blank'></a>
  <a class='button social-btn' id='email' href='mailto:beta@cityshelf.com'></a>
</div>

<nav class='cs-bar-container search-results-header'>
  <form name='searchForm' data-ng-controller='MainCtrl' class='search-bar'>
    <input type='text' id='search-again' class='form-field swappable-bar' placeholder='Title, author or ISBN' data-ng-model='form.book' size='16' />
    <button class='cs-search-btn swappable-btn-right' data-ng-click='search()'>
      <i class='icon ion-search i cs-icon'></i>
    </button>
  </form>

  <button class='button icon-left ion-chevron-left cs-ui-btn back-btn swappable-btn-left' data-ng-click='back("/")'></button>
  <button id='search-text' class='button icon-right ion-close full-width cs-on-btn wf-standard-heavy type-large swappable-bar' data-ng-click='showSearch = !showSearch' data-ng-show='showSearch'>
    {{ searchQuery | capitalize }}
  </button>
  <div id='search-by-btns' class='button-bar wf-standard type-base'>
    <button class='button' data-ng-class='{ selected: option === selected }' data-ng-click='select(option)' data-ng-repeat='option in options'>
      {{ option | capitalize }}
    </button>
  </div>
  <div id='number-of-results'>
    <p class='wf-standard type-large align-center small-vertical-space'>
      {{ results.length }} results found
    </p>
  </div>
</nav>

<ion-content>
  <ul class='cs-main-container list nav-clear' id='search-results'>
    <li class='item' data-ng-repeat="result in results | orderBy : [sortBy(result), 'availability']">
      <div>
        <div class='book-img-wrapper'>
          <img ng-src='{{ result.img }}' data-ng-click='filter("title", result.title)' />
        </div>
        <div class='book-copy-wrapper'>
          <p class='wf-bold type-large result-title'>{{ result.title | truncate }}</p>
          <p class='wf-standard-italic type-base result-author'>{{ result.author }}</p>
          <p class='wf-standard type-base result-store'>{{ result.availability }}</p>
          <p class='wf-standard type-base result-store'>@ {{ result.storeName }}</p>
          <p class='wf-standard type-large result-store'>{{ result.price | currency:'$' }}</p>
        </div>
      </div>
      <div class='button-bar bar-stable item-btn-bar wf-standard-heavy type-small'>
        <a href='{{ result.phone }}' class='button icon-left ion-ios7-telephone-outline wf-standard-heavy type-small drop-button'>TO {{ result.availability === 'On shelves now' ? 'RESERVE' : 'ORDER' }}</a>
        <button class='button wf-standard-heavy type-small' data-ng-click='showMap = !showMap'>
          {{ showMap? 'HIDE' : 'SHOW' }} MAP
        </button>
      </div>
      <google-map center='result.map.center' zoom='result.map.zoom' draggable='true' data-ng-if='showMap'>
        <marker coords='result.map.center' idKey='1'></marker>
      </google-map>
    </li>
  <ul>
</ion-content>
