/*
 * CSS for CityShelf.
 * Author: Eric Weinstein <eric.q.weinstein@gmail.com>
 */

/* Fonts */
@font-face {
  font-family: 'CooperHewitt-Book';
  src: url('vendor/fonts/CooperHewitt-Book.eot');
  src: url('vendor/fonts/CooperHewitt-Book.woff') format('woff'), url('vendor/fonts/CooperHewitt-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-Light';
  src: url('vendor/fonts/CooperHewitt-Light.eot');
  src: url('vendor/fonts/CooperHewitt-Light.woff') format('woff'), url('vendor/fonts/CooperHewitt-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-BookItalic';
  src: url('vendor/fonts/CooperHewitt-BookItalic.eot');
  src: url('vendor/fonts/CooperHewitt-BookItalic.woff') format('woff'), url('vendor/fonts/CooperHewitt-BookItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* A noble spirit embiggens the smallest man. */
i.embiggen.ion-loading-c {
  font-size: 3em;
}

/* Main */
.centered {
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.copy {
  font-family: 'CooperHewitt-Light';
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  -webkit-font-smoothing: antialiased;
  width: 80%;
}

.search-copy {
  font-family: 'CooperHewitt-Light';
}

.search-copy-fine {
  font-family: 'CooperHewitt-BookItalic';
}

.small {
  font-size: 0.8em;
}

.standard {
  font-size: 2.0em;
  line-height: 1.2em;
}

.tiny {
  font-size: 0.65em;
  text-transform: uppercase;
}

.content-container {
  border: solid 0.25em #66cc33;
  margin: 1%;
  padding: 1%;
}

/* Buttons */
.cs-btn {
  background-color: #66cc33;
  border: solid #66cc33;
  display: inline-block;
  float: right;
  font-family: 'CooperHewitt-Light';
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 2.85em;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -webkit-font-smoothing: antialiased;
  width: 2.85em;
}

.full-width {
  width: 86%;
}

#media-btns {
  bottom: 15%;
  position: fixed;
}

#media-btns a {
  border-color: white;
  font-family: 'CooperHewitt-Light';
}

#search-by-btns button {
  border-color: white;
  font-family: 'cooperhewitt-light';
  text-align: left;
}

.selected {
  border-bottom: solid 0.1em #66cc33 !important;
  color: #66cc33 !important;
}

.social-btn {
  background-repeat: no-repeat;
  background-size: 20%;
}

#facebook {
  background-image: url('../img/CS_facebook.png');
  background-position: center right;
}

#twitter {
  background-image: url('../img/CS_twitter.png');
  background-position: center center;
}

#instagram {
  background-image: url("../img/CS_instagram.png");
  background-position: center left;
}

/* Search */
#search-text {
  margin-top: 0;
}

input[type="text"] {
  background-color: #eeeeee;
  font-size: 1.2em;
  height: 101%;
  line-height: 1.2em;
  margin-left: 0;
  padding-left: 10%;
  width: 90%;
}

#search {
  border-bottom: solid #66cc33 0.2em;
  height: 3em;
}

.form-field {
  clear: both;
  display: inline-block;
  float: left;
  font-family: 'CooperHewitt-BookItalic';
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  margin-left: 10%;
  -webkit-font-smoothing: antialiased;
  width: 80%;
}

.book-img-wrapper {
  display: inline-block;
  height: 100px;
  width: 72px;
}

.book-img-wrapper img {
  height: auto;
  width: 100%;
}

.book-copy-wrapper {
  display: inline-block;
}

/* Google Maps */
.angular-google-map-container {
  height: 6em;
}
